<table class="table table-hover table-striped">
  <tbody>
    <div class="container">
      <div class="wrapper row">
        <div class="preview col-md-4">
          <div class="preview-pic tab-content">
            <% if @food.img_url.blank? %>
             <img src="..." class="img-fluid" alt="Avatar Image">
            <% else %>
             <%= image_tag (@food.img_url.url), class: 'img_product' %>
            <% end %>
          </div>
        </div>
        <div class="details col-md-5">
          <h3 class="product-title"><%= @food.name %></h3>
          
          <div class="row">
            <p class="price col-md-2">Price</p>
            <div class="col-md-10">
              <% if @food.discount.present? %>
                <label>discount: <%= @food.discount %> %</label>
                <del class="small_price col-md-4"><%= format_price @food.price %></del>
              <% end %>
              <h4 class="price col-md-8"><%= get_promotion_price @food.price, @food.discount %></h4>
            </div>
          </div>
          
          <%# <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p> %>
          <p><b><%= t'created_at' %>:</b>
            <span><%= @food.created_at.strftime Settings.format_time_with_hour %></span>
          </p>
          <p><b><%= t'food_category' %>:</b>
            <span><%= @food.food_category.name  %></span>
          </p>
          <div class="rating">
            <div class="stars">
              <span id="vote-avg"><%= "#{@food.rating_avg} / #{@food.votes.count} " %></span>
              <span> <%= t "views.foods.show.header.rate" %></span><br><br>
            </div>
            <span class="review-no fa fa-eye"> <%= @food.view %> Reviewer</span>
          </div>
        </div>
      </div>
      <hr class="col-md-8">
      <!-- review food -->
      <br>
      
      <div class="row ">
         <div class="col-md-12"> 
           <h4 class="section-titlepara">PRODUCT DETAILS</h4>
         </div>
         <div class="border col-md-2"></div>

        <div class="container wrapper row col-md-9">
          <p class="modal-width"><%= raw @food.description %></p>
        </div>
      </div>
  </tbody>
</table>