<h3>admin mana food</h3>

<div class="row">
    <div class="col-md-9">
        <%= search_form_for [:admin,@search], html: {class: 'form-inline'} do |f| %>
          <%= f.label :name_or_price_cont, 'Criteria',  class: 'col-md-2 text-center' %>
          <%= f.search_field :name_or_price_cont, class: 'col-md-8 form-control', placeholder: 'name or price' %>
          <%= f.submit 'search', :class => 'col-md-1 btn btn-primary' %>
        <% end %>
    </div>
    <div class="col-md-3 text-right">
       <%= link_to "create new", new_admin_food_path, class: "btn btn-primary btn-sm btn-create" %>
       <%= link_to "export exel", new_admin_food_path, class: "btn btn-info btn-sm btn-create" %>
    </div>
</div>

<!-- <div>
  <p>lam muti select loc theo role</p>
</div> -->
<hr>

<div class="x-panel tile overflow-hidden">
  <div class="x-content">
    
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th class="text-center col-md-2"><%= sort_link @search, :name, t(".name") %></th>
          <th class="text-center col-md-2"><%= sort_link @search, :price, t(".price") %></th>
          <th class="text-center col-md-2"><%= sort_link @search, :rating_avg, t(".rating_avg") %></th>
          <th class="text-center col-md-2"><%= sort_link @search, :created_at, t(".created_at") %></th>
          <th class="text-center col-md-2 col-sm-2 col-xs-2" ><%= t ".action" %></th>
        </tr>
      </thead>
      <tbody>
        <% @foods.each do |food| %>
          <tr>
            <td class="text-center">
              <%= link_to food.name, admin_food_path(food), remote: true,
                  title: food.name %>
            </td>
            <td class="text-center"><%= food.price %></td>
            <td class="text-center"><%= food.rating_avg %></td>
            <td class="text-center"><%= food.created_at.strftime Settings.format_time_with_hour %></td>
            
            <td class="text-center">
              <%= link_to edit_admin_food_url(food.id), class: "btn btn-warning btn-xs", 
                title: t("edit") do %><i class="fa fa-pencil"></i><% end %>
              <%= link_to admin_food_url(food.id), method: :delete, class: "btn btn-danger btn-xs",title: t("delete"), data: {confirm: t("are_you_sure")} do %>
                <i class="fa fa-trash"></i><% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="pull-right">
     <%= paginate @foods %>
    </div>
    <div class="pull-left">
      <span>
        <strong class="text-capitalize"><%= t ".filter" %></strong>
          <%= @search.result.size %> <%= t ".have_record" %>
      </span>
    </div>
  </div>
  
</div>
