<h4>Create Food</h4>
<%= form_for [:admin, @food], :html => {class: 'col-md-10'} do |f| %>
      <%= render 'shared/error_messages', object: @food %>
      
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control"%>

      <%= f.label :price %>
      <%= f.text_field :price, class: 'form-control' %>

      <%= f.label :discount %>
      <%= f.text_field :discount, class: 'form-control' %>
      
      <%= f.label :img_url %>
      <%= f.file_field :img_url, accept: "image/jpeg,image/jpg,image/png" , class: 'form-control'%>
      
      <%= f.label :food_category_id %>
      <%= f.select :food_category_id, FoodCategory.all.collect { |p| [p.name, p.id] }, {}, { :class => 'form-group form-control' } %>

      <%= f.label :description %>
      <%= f.cktext_area :description, rows: 10 %>   
   
      <!-- chon danh muc nua -->
      <br>
    <%= f.submit "Create", class: "btn btn-primary pull-right col-md-2" %>
<% end %>

