<div class="panel-heading">
  <span class="glyphicon glyphicon-list"></span>Danh sách Đơn hàng
</div>
<br><hr>
<div class="thumb-layout">
  <div class="row">
    <% @orders.each do |order| %>
      <div class="col-md-4 col-sm-4">
        <div class="thumbnail">
          <input type="hidden" id="order_id" value="<%= order.id %>">
          <label><i class="fa fa-location-arrow" aria-hidden="true"></i> <span><%= t ".destination" %>: <%= order.address %></span></label>
          <br>
          <i class="fa fa-user" aria-hidden="true"></i> <span><%= t ".customer" %>: <%= link_to order.customer.name , @user, :class => "text-center"%></span>
          <br>
          <i class="fa fa-phone-square" aria-hidden="true"></i> <span>Số Điện Thoại: <%=  order.customer.phone_number %></span>
          <br>
          <i class="fa fa-money" aria-hidden="true"></i> <span><%= t ".total_money" %>: <%= format_price order.total_money.round %></span>
          <br>
          <% if !order.new? %>
          <i class="fa fa-truck" aria-hidden="true"></i> <span>Người giao hàng: <%= order.employee_name %></span>
          <br>
          <% end %>
          <i class="fa fa-shopping-bag" aria-hidden="true"></i> <span><%= t ".status" %>: </span>
          <% if order.new? %>
            <span class="label label-primary"><%= t ".new" %></span>
            <br>
          <% elsif order.in_progress?  %>
            <span class="label label-warning"><%= t ".inprogress" %></span>
            <br>
          <% else %>
            <span class="label label-success"><%= t ".done" %></span>
            <br>
          <% end %>
          
         <a href="#" data-toggle="modal" data-target="#modal-<%= order.id %>"> <%= t(".details") %></a>
          
        </div>
      </div>
      <div id="modal-<%= order.id %>" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <input type="hidden" name="order_id">
              <h4 class="centered"><%= t ".detail" %></h4>
            </div>
            <div class="modal-body">
              <% order.order_details.each do |detail|%>
                <ul style="list-style-type: none;">
                  <li><label><%= t ".name" %></label>: <%= Food.find(detail.food_id).name %></li>
                  <li><label><%= t ".quantity" %></label>: <%= detail.quantity%></li>
                  <li><label><%= t ".price_each" %></label>: <%= format_price detail.total_money.round %></li>
                  <li class="show_food">
                    <%= link_to detail.food do %>
                      <%= image_tag Food.find(detail.food_id).img_url, alt: detail.food.name %>
                    <% end %>
                  </li>
                  <br><br><br>
                </ul>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" style="float: right;" data-dismiss="modal"><%= t ".close" %></button>
              <% if order.new? %>
                <button data-order-id="<%= order.id %>" type="button" class="u-mgr5 btn btn-primary pick_order" name="order_id">
                  <%= t ".delivery" %></button>
              <% elsif order.in_progress? %>
                <%#= link_to t("views.static_pages.show_orders.details"), order %>
                <button data-order-id="<%= order.id %>" type="button" class="u-mgr5 btn btn-primary done_order" name="order_id">
                  <%= t ".Done" %></button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
