<div class="panel-heading">
  <span class="glyphicon glyphicon-list"></span>Danh sách đơn hàng
</div>

<div class="row">
    <div class="col-md-9">
        <%= search_form_for [:employee,@search], html: {class: 'form-inline'} do |f| %>
          <%= f.label :customer_name_or_employee_name_or_address_cont, 'Từ khóa',  class: 'col-md-2 text-center' %>
          <%= f.search_field :customer_name_or_employee_name_or_address_cont, class: 'col-md-9 form-control', placeholder: 'khách hàng, nguoi giao, địa chỉ' %>
          <%= f.submit 'Tìm kiếm', :class => 'u-mgl5 col-md-2 btn btn-primary' %>
        <% end %>
    </div>
    <div class="container">
      <button class="btn btn-info"><i class="fa fa-file-excel-o"></i>&nbsp&nbsp<%= link_to t(".download"), admin_orders_url(format: "xls") %></button>
    </div>
</div>

<br>
<div class="container">
  <table id="delivery_month" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
    <tr>
      <th>STT</th>
      <th><%=t ".customer" %></th>
      <th><%=t ".employee" %></th>
      <th><%=t ".address" %></th>
      <th><%= sort_link @search, :total_money, t(".total_money") %></th>
      <th><%=t ".status" %></th>
      <th><%= sort_link @search, :created_at, t(".created_at") %></th>
    </tr>
    </thead>
    <tbody>
    <% @all_orders.each_with_index {|item,index | %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= item.customer.name %></td>
        <td><%= item.employee.name if item.employee %></td>
        <td><%= item.address %></td>
        <td><%= item.total_money %></td>
        <td><%= item.status == 1 ? 'new' : item.status == 2 ? 'inprogress' : 'done' %></td>
        <td><%= item.created_at.strftime Settings.format_time_with_hour %></td>
      </tr>
    <% } %>
    </tbody>
  </table>
  <div class="pull-left">
    <span>
      <strong class="text-capitalize"><%= t ".filter" %></strong>
      <%= @search.result.size %> <%= t ".have_record" %>
    </span>
  </div>
  <div class="pull-right">
    <%= paginate @all_orders %>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#delivery_month').DataTable();
    $('#delivery_month_length').hide();
    $('#delivery_month_info').hide();
  } );
</script>