<h3>admin page</h3>

<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x-panel">
    <div class="x-title">
      <label><span><%= t "admin.top_order" %></span></label>
      <ul class="nav navbar-right panel-toolbox">
        <li>
          <%= link_to "", class: "collapse-link" do %>
            <i class="fa fa-chevron-up"></i>
          <% end %>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x-content">
      <%= render 'hot_food' %>
    </div>
  </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
	<div class="x-panel">
	  <div class="x-title">
	    <label><span><%= t "admin.top_product" %></span></label>
	    <ul class="nav navbar-right panel-toolbox">
	      <li>
	        <%= link_to "", class: "collapse-link" do %>
	          <i class="fa fa-chevron-up"></i>
	        <% end %>
	      </li>
	    </ul>
	    <div class="clearfix"></div>
	  </div>
	  <div class="x-content">
	    <%= render 'hot_food' %>
	  </div>
	</div>
</div>

