<div class="row">
  <br><hr>
  <h3><b><%= t ".new_order" %></b></h3>
  <div class="col-sm-1"></div>
  <div class="col-sm-6">
    <div id="order-head"><b><%= t ".select_address" %></b></div>
    <div id="order-body">
        <div id="order-customer">
          <i class="fa fa-check" style="color: #9CA643"></i>
        <b><%= current_user.name %></b><br>
        <span><%= t ".address" %> : <%= current_user.address %></span><br>
        <span><%= t ".phone" %> : </span> <%= current_user.phone_number %>
        </div>
        <div id="order-address">
          <i class="fa fa-map-marker"></i> <span><b><%= t ".shipping_address" %></b></span>
          <%= form_for @order do |f| %>
            <%= f.text_area :address, size: "70x4", id:"order-customer", placeholder: t(".example"), required: true %><br>
            <%= f.submit t(".order"), class:"btn btn-success js-push-button" %>
          <% end %>
        </div>
      </div>
  </div>
  <div class="col-sm-5">
    <div id="order-head">
      <b><%= t ".info_order" %> ( <%=current_user.carts.count%> <%= t ".orders" %> )</b>
    </div>
    <div id="order-body">
      <table class="table">
        <thead>
          <tr>
            <th><%= t ".dish" %></th>
            <th><%= t ".quantity" %></th>
            <th><%= t ".price" %></th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |o| %>
           <tr>
            <td><%= o.food.name %></td>
            <td><%= o.quantity %></td>
            <td><%= o.total_money %> VNĐ</td>
           </tr>
          <% end %>
          <tr>
            <td><b><%= t ".total" %></b></td>
            <td style="color: red;"><%= Cart.total current_user.id %> VNĐ</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
