<h1></h1>
<div class="row">
  <div class="row cart-table" style="backgound: #123">
    <h2 style="text-align: center;">
        Review Your Shopping Cart
    </h2>
    <hr/>
    <ul style="list-style-type: none;">
      <%= render @carts %>
    </ul>
  </div>
  <div class="row">

  </div>
  <div class="row col-md-12">
    <hr>
    <div class="pull-right col-md-4">
      <h3><b><%= t ".total"  %> :</b>  </h3>
      <h3 id="total"></h3>
      <button type="button" class="btn btn-default">
          <label><span class="glyphicon glyphicon-shopping-cart"><%= link_to t(".continue_shopping"), root_path %></span></label>
      </button>
      <% if logged_in? %>
         <% if current_user.carts.any? %>
          <button id="update-cart", class="btn btn-success pull-right"><i class="fa fa-credit-card" aria-hidden="true"><%= t(".pay") %></i></button>
         <% else %>
         <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_include_tag "cart", "data-turbolinks-track": "reload" %>