<!-- food details -->
<div class="container">
	<div class="card">
		<div class="container-fliud">
			<div class="wrapper row">
				<div class="preview col-md-6">
					<div class="preview-pic tab-content">
					  <div class="tab-pane active" id="pic-1">
					  	<%= image_tag @food.img_url, :class => "show_food" if @food.img_url?  %>
					  </div>
					</div>
				</div>
				<div class="details col-md-6">
					<h4 class="price"><%= @food.name %></h4>
					<div class="rating">
						<div class="stars1">
							<%= render "star_rating" %>&nbsp
							<span id="vote-avg"><%= "#{@food.rating_avg} / #{@food.votes.count} " %></span>
							<span>Star</span><br><br>
						</div>
						<span class="review-no"><i class="fa fa-eye" aria-hidden="true"> <%= count_view @food%></i> <%= t 'review'%></span>
					</div>
					<%# <span class="product-description text_extend"><%= (@food.description || t(".no_description")).html_safe %>
					<div class="row">
						<label class="col-md-2">Giá: </label>
						<div class="col-md-10">
							<% if @food.discount.present? %>
								<label>Khuyến mại: <%= @food.discount %> %</label>
								<del class="small_price col-md-4"><%= format_price @food.price %></del>
							<% end %>
							<h4 class="price col-md-8"><%= get_promotion_price @food.price, @food.discount %></h4>
						</div>
					</div>
					
					<h6><b>Danh mục đồ ăn:</b> <span><%= @food.food_category.name %></span></h6>
					<%# <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p> %>
					<div class="row">
						<div class="col-md-8 quantity">
						   <%= label_tag 'Số lượng:', nil, class: 'pull-left' %>
					       <input type="number" min="1" step="1" value="1" name="quantity" class="form-control input-number col-md-3">
						</div>
						<div class="col-md-4 action">
						   <br>
						   <%# <button class="add-to-cart btn btn-default" type="button">add to cart</button> %>
							 <button class="add-food show-add btn btn-success" id="add_food_to_cart" 
							   data-food-id="<%= @food.id %>"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<!-- review food -->
	<br>
	<div class=" row col-md-12">
	    <div class="col-md-12"> 
	      <h4 class="section-titlepara">GIỚI THIỆU MÓN ĂN</h4>
	    </div>
			<div class="row col-md-12">
				<div class="border col-md-2"></div>
				
				<div class=" row col-md-8">
					<p class="modal-width"><%= raw @food.description %></p>
				</div>
				<div class="col-md-2">
				
				</div>
			</div>
	</div>
	<hr>

	<%# food suggestion %>
	<div class=" row col-md-12">
	    <div class="col-md-12"> 
	      <h4 class="section-titlepara">XEM THÊM</h4>
	    </div>
			<div class="row col-md-12">
			  <div class="border col-md-3"></div>
				<div class="row col-md-12">
					<% @food_relation.each do |food| %>
						<div class="col-md-3 col-sm-6">
							<span class="thumbnail">
									<%= link_to food do %>
												<%= image_tag food.img_url, alt: food.name, :class => "style_img_view"%>
											<% end %>
									<h4><%= link_to food.name, food, class: "text-center" %></h4>
									<div class="rating row">
										<span class="review-no col-md-6"><i class="fa fa-eye" aria-hidden="true"> <%= count_view food%></i></span>
										<% if food.discount.present? %>
											<label>Discount: <%= @food.discount %> %</label>
										<% end %>
										<div class="stars1 col-md-8">
											<i class="fa fa-star" aria-hidden="true" id="vote-avg">&nbsp<%= "#{food.rating_avg} / #{food.votes.count} " %></i>
										</div>
									</div>
									<%# <span><%= raw(food.description || t(".no_description")) %>
									<hr class="line">
									<div class="row">
										<div class="col-md-8 col-sm-8">
											<% if food.discount.present? %>
												<del class="small_price col-md-4"><%= format_price food.price %></del>
											<% end %>
											<h4 class="price col-md-8" style="padding-left: 30px;"><%= get_promotion_price food.price, food.discount %></h4>
											<!-- <p class="price"><%= format_price food.price %></p> -->
										</div>
										<div class="col-md-4 col-sm-4">
											<button value="<%= food.id %>" class="show-add btn btn-success pull-right" data-toggle="modal" data-target="#addFood"><i class="fa fa-cart-plus " aria-hidden="true"></i></button>
										</div>
									</div>
							</span>
						</div>
					<% end %>
				</div>
			</div>
	</div>
	<hr>
	
				
	<!-- comment -->
	
	<div class="row col-md-12">
         <div class="col-md-12"> 
           <h4 class="section-titlepara">BÌNH LUẬN VỀ MÓN </h4>
         </div>
         <div class="border col-md-2"></div>

         <div class=" row col-md-12">
          <div class="modal-width">
          	<div class="comment-tabs">
			    <ul class="media-list" id="comments">
			      <%= render partial: "comments", collection: @comments, as: :comment %>
			    </ul>
			</div>
          </div>
          <% if logged_in? %>
			  <div id="comment-form">
			    <h4 class="text-uppercase"><%= t "leave_comments" %></h4>
			      <%= form_for Comment.new, remote: true do |f| %>
			        <div class="row">
			          <div class="col-md-12">
			            <div class="form-group">
			              <%= f.hidden_field :food_id, value: @food.id %>
			              <%= f.hidden_field :user_id, value: current_user.id %>
			              <%= f.text_area :content, class: "form-control comment_field",
			                rows: Settings.textarea.number_rows, required: true %>
			            </div>
			          </div>
			        </div>
			        <div class="row">
			          <div class="col-md-12 text-right">
			            <%= f.button :submit, class: "btn btn-primary" do %>
			              <i class="fa fa-comment-o"></i>
			              <%= t "post_comment" %>
			            <% end %>
			          </div>
			        </div>
			      <% end %>
			  </div>
		   <% else %>
			  <%= link_to t("sign_in_to_comment"), login_path %>
		   <% end %>
        </div>
      </div>
	<hr>
</div>