<!-- food details -->
<div class="container">
	<div class="card">
		<div class="container-fliud">
			<div class="wrapper row">
				<div class="preview col-md-6">
					<div class="preview-pic tab-content">
					  <div class="tab-pane active" id="pic-1">
					  	<%= image_tag @food.img_url, :class => "show_food" if @food.img_url?  %>
					  </div>
					</div>
				</div>
				<div class="details col-md-6">
					<h4 class="price"><%= @food.name %></h4>
					<div class="rating">
						<div class="stars1">
							<%= render "star_rating" %>
                            <span id="vote-avg"><%= "#{@food.rating_avg} / #{@food.votes.count} " %></span>
                            <span> <%= t "views.foods.show.header.rate" %></span><br><br>
						</div>
						<span class="review-no"><i class="fa fa-eye" aria-hidden="true"> <%= count_view @food%></i> <%= t 'review'%></span>
					</div>
					<p class="product-description"><%= raw(truncate @food.description || t(".no_description"), length: Settings.sort_descriptions) %></p>

					<div class="row">
			            <label class="col-md-2">Price</label>
			            <div class="col-md-10">
			              <% if @food.discount.present? %>
			                <label>Discount: <%= @food.discount %> %</label>
			                <del class="small_price col-md-4"><%= format_price @food.price %></del>
			              <% end %>
			              <h4 class="price col-md-8"><%= get_promotion_price @food.price, @food.discount %></h4>
			            </div>
			          </div>
					
					<h6><b>Food Category:</b> <span><%= @food.food_category.name %></span></h6>
					<p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
					<div class="row">
						<div class="col-md-8">
						   <%= label_tag 'quantity :', nil, class: 'pull-left' %>
					       <%= number_field_tag 'quantity', nil, min: 1, max: 10, class: 'col-md-3' %>
						</div>
						<div class="col-md-4 action">
						   <button class="add-to-cart btn btn-default" type="button">add to cart</button>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<!-- review food -->
	<br>
	<div class=" row col-md-12">
	     <div class="col-md-12"> 
	       <h4 class="section-titlepara">PRODUCT DETAILS</h4>
	     </div>
	     <div class="border col-md-2"></div>

	    <div class=" row col-md-10">
	      <p class="modal-width"><%= raw @food.description %></p>
	    </div>
	</div>
	<hr>
	<!-- comment -->
	
	<div class="row col-md-12">
         <div class="col-md-12"> 
           <h4 class="section-titlepara">COMMENTS</h4>
         </div>
         <div class="border col-md-2"></div>

         <div class=" row col-md-12">
          <div class="modal-width">
          	<div class="comment-tabs">
			    <ul class="media-list" id="comments">
			      <%= render partial: "comments", collection: @comments, as: :comment %>
			    </ul>
			</div>
          </div>
          <% if logged_in? %>
			  <div id="comment-form">
			    <h4 class="text-uppercase"><%= t "leave_comments" %></h4>
			      <%= form_for Comment.new, remote: true do |f| %>
			        <div class="row">
			          <div class="col-md-12">
			            <div class="form-group">
			              <%= f.hidden_field :food_id, value: @food.id %>
			              <%= f.hidden_field :user_id, value: current_user.id %>
			              <%= f.text_area :content, class: "form-control comment_field",
			                rows: Settings.textarea.number_rows %>
			            </div>
			          </div>
			        </div>
			        <div class="row">
			          <div class="col-md-12 text-right">
			            <%= f.button :submit, class: "btn btn-primary" do %>
			              <i class="fa fa-comment-o"></i>
			              <%= t "post_comment" %>
			            <% end %>
			          </div>
			        </div>
			      <% end %>
			  </div>
		   <% else %>
			  <%= link_to t("sign_in_to_comment"), login_path %>
		   <% end %>
        </div>
      </div>
	<hr>
</div>