<div class="top_nav">
  <div class="nav_menu">
    <nav>
      <nav class="navbar navbar-default navbar-static-top">
	    <div class="container-fluid">
	    	<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
			  <% if current_user.Admin? %>
				 <label><span class="navbar-brand"><%= link_to t(".Administrator"), admin_root_path %></span></label>
			  <% else %>
				 <label><span class="navbar-brand"><%= link_to t(".Administrator"), employee_root_path %></span></label>
				<% end %>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">      
				<ul class="nav navbar-nav navbar-right">
					<li><a href="" target="_blank"><i class="fa fa-bell-o">
						<span class="label label-info">25</span></i></a></li>
					<li><%= link_to root_path do %><%= t "visit_site" %><% end %></li>
					<li class="dropdown ">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
						Account
						<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<% if logged_in? %>
								<li class="dropdown-header"><%= current_user.name %></li>
								<li><%= link_to "Profile", user_path(current_user) %></li>
								<li class="divider"></li>
								<li><%= link_to logout_path, method: :delete do %>
					               <%= t "views.layouts.logout" %><% end %>
					            </li>
							<% end %>
						</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	  </nav>  	
    </nav>
  </div>
</div>