<div class="top_nav">
  <div class="nav_menu">
    <nav>
    	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<!------ Include the above in your HEAD tag ---------->

		 <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		      <div class="container">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="http://gaadiexpert.com/">Brand</a>
		    </div>
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav navbar-right">
		        <li class="active"><a href="#"><%= t "header.home" %></a></li>
		        <li><a href="#"><%= t "header.menu" %></a></li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t "header.categories" %><b class="caret"></b></a>
		          <ul class="dropdown-menu">
		            <li><a href="#">Action</a></li>
		            <li><a href="#">Another action</a></li>
		            <li><a href="#">Something else here</a></li>
		            <li class="divider"></li>
		            <li><a href="#">Separated link</a></li>
		            <li class="divider"></li>
		            <li><a href="#">One more separated link</a></li>
		          </ul>
		        </li>
		        <li><a href="#"><%= t "header.promotion" %></a></li>
		        <li><a href="#"><%= t "header.contact_us" %></a></li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		          	Name Acc<b class="caret"></b></a>
		          <ul class="dropdown-menu">
		            <li><a href="#">Profile</a></li>
		            <li class="divider"></li>
		            <li><a href="#">Login</a></li>
		            <li><a href="#">Logout</a></li>
		          </ul>
		        </li>
		        <li><button class="btn btn-link btn-lg" ><span class="glyphicon glyphicon-shopping-cart"></span></button></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		      </div><!-- /.container-collapse -->
		  </nav>
		<div class= "banner-sektion banner-overlay ">
		    <div class="container text-center">
		        <div class="col-md-12">
		            <div class="banner-heading ">
		                <h2>Enjoy Food Order and dine-out </h2>
		                <P>Find restaurants, specials, and coupons for free</P>
		                <form class="navbar-form" role="search">
					        <div class="input-group">
					            <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
					             <div class="input-group-btn">
							        <button class="btn btn-primary site-btn" type="submit"><i class="glyphicon glyphicon-search"></i></button>
							      </div>
					        </div>
					    </form>
		            </div>
		        </div>
		    </div>    
		</div>
    </nav>
  </div>
</div>