<div class="top_nav">
  <div class="nav_menu">
    <nav>
    	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script> -->

		<!------ Include the above in your HEAD tag ---------->

		 <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		      <div class="container">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="http://gaadiexpert.com/">Brand</a>
		    </div>
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav navbar-right">
		        
		        <li class="active"><%= link_to root_path do %><%= t "header.home" %><% end %></li>
		        <!-- thuc don <li><a href="#">header.menu</a></li> -->
		        <li><a href="#hot_sale"><%= t "header.promotion" %></a></li>

		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t "header.categories" %><b class="caret"></b></a>
		          <ul class="dropdown-menu">
		          	<li><%= link_to root_path do %><%= t "header.all" %><% end %></li>
		            <li>
			          <% @categories.each do |t| %>
			             <%= link_to t.name, root_url(food_category: t.id), class: "hot-topic", remote: true %>
			           <% end %>
                    </li>
		          </ul>
		        </li>

		        <li class="active"><%= link_to orders_path do %><%= t "header.order" %><% end %>
		        <li><a href="#"><%= t "header.contact_us" %></a></li>

		        <% if logged_in? %>
		            <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %><b class="caret"></b></a>
			          <ul class="dropdown-menu">
			          	<li><%= link_to "Profile", user_path(current_user) %></li>
			            <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
			            <% if current_user.Admin? %>
			              <li><%= link_to "Visit Dashboard", admin_root_path(current_user) %></li>
			            <% end %>
			            <% if current_user.Employee? %>
			              <li><%= link_to "Visit Dashboard", employee_root_path(current_user) %></li>
			            <% end %>
			          </ul>
			        </li>

		            <li>
		              <%= link_to logout_path, method: :delete do %>
		               <%= t "views.layouts.logout" %>
		              <% end %>
		            </li>
		        <% else %>
		            <li>
		              <%= link_to login_path do %>
		               <%= t "views.layouts.login" %>
		              <% end %>
		            </li>
		         <% end %>
                
		       
		        <li><a href= <%= carts_url %>><i class="glyphicon glyphicon-shopping-cart" aria-hidden="true" id="cart-icon"></i><span id="badge" class="badge"></span></a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		      </div><!-- /.container-collapse -->
		  </nav>
		<div class= "banner-sektion banner-overlay ">
		    <div class="container text-center">
		        <div class="col-md-12">
		            <div class="banner-heading ">
		                <h2>Enjoy Food Order and dine-out </h2>
		                <P>Find restaurants, specials, and coupons for free</P>
		                <form class="navbar-form" role="search">
					        <div class="input-group">
					            <input class="form-control search-form" placeholder="Search" id="search_text">
					             <div class="input-group-btn">
							        <button class="btn btn-primary site-btn" type="submit"><i class="glyphicon glyphicon-search" id="submit-search"></i></button>
							     </div>
					        </div>
					    </form>
		            </div>
		        </div>
		    </div>    
		</div>
    </nav>
  </div>
</div>