<!DOCTYPE html>
<html>
<head>
  <title>Library</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>

<!------ Include the above in your HEAD tag ---------->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"/>

</head>

<body>
<%= render "layouts/admin_header" %>
  

<div class="container-fluid main-container">
  	<div class="col-md-2 sidebar">
	  	<div class="row">
		<!-- uncomment code for absolute positioning tweek see top comment in css -->
			<div class="absolute-wrapper"> </div>
			<!-- Menu -->
			<div class="side-menu">
				<nav class="navbar navbar-default" role="navigation">
					<!-- Main Menu -->
					<div class="side-menu-container">
						<ul class="nav navbar-nav">
							<!-- admin  -->
							<li class="active"><a href="#"><span class="glyphicon glyphicon-signal"></span> Dashboard</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-tasks"></span>Danh Mục Món Ăn</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-cutlery"></span>Món Ăn</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span>Đơn Hàng</a></li>
							<!-- Dropdown-->
							<li class="panel panel-default" id="dropdown">
								<a data-toggle="collapse" href="#dropdown-lvl1">
									<span class="fa fa-users fa-2x icon-admin-user"></span>Người Dùng<span class="caret"></span>
								</a>

								<!-- Dropdown level 1 -->
								<div id="dropdown-lvl1" class="panel-collapse collapse">
									<div class="panel-body">
										<ul class="nav navbar-nav">
											<li><a href="#">Người Mua Hàng</a></li>
											<li><a href="#">Người Giao Hàng</a></li>
										</ul>
									</div>
								</div>
							</li>

							<li><a href="#"><span class="glyphicon glyphicon-user"></span>Cá Nhân</a></li>

							<!-- nguoi giao hang -->
							<li><a href="#"><span class="glyphicon glyphicon-send"></span>Đơn Hàng Mới</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-list-alt"></span>Đơn Hàng Của Tôi</a></li>
							<!-- don hang cua toi bao gom don hang chua giao va da giao -->
                            <li><a href="#"><span class="glyphicon glyphicon-user"></span>Cá Nhân</a></li>

						</ul>
					</div><!-- /.navbar-collapse -->
				</nav>
			</div>
	    </div>  		
    </div>
  		<div class="col-md-10 content">
	        <div>
        	<% flash.each do |message_type, message| %>
		        <div class="alert alert-<%= message_type %>"><%= message %></div>
		      <% end %>
	        <div class="panel panel-light">
	        <div class="panel-heading">
	            <span class="glyphicon glyphicon-list"></span>Name Tab
	        </div>
                <div class="panel-body">
                	<!-- table content -->
                    <%= yield %>
                </div>
                
            </div>
            </div>
	
        </div>
  		</div>
     <!-- footer -->
     <%= render "layouts/admin_footer" %>

  	</div>
    <%= render "layouts/modal" %>
</body>
</html>
